header{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
}
header p{
  margin-top: 1rem;
  font-size: larger;
  font-weight: 500;
}

.word-counter{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.word-counter .input-box{
  border: 1px solid lightgrey;
  resize: none;
  font-size: x-large;
  color: #666666;
  outline: none;
  box-shadow: -1px 2px 8px 5px rgba(74, 74, 74, 0.2); 
}

.word-counter .clear-btn{
  margin-top: 2.3rem;
  padding: .6em 2rem;
  cursor: pointer;
  color: white;
  background-color: grey;
}

.word-counter .clear-btn:hover{
  border: .5px solid black;
}

.btns{
  margin-top: 2.1rem;
  display: flex;
  justify-content: space-around;
}

.btn{
  font-size: larger;
  font-weight: 200;
  padding: .6em 2rem;
  background-color: darkblue;
  color: white;
}
